<div x-data="alpineMock()">
    <div>
        <h2>Mock</h2>
        <p class="has-text-weight-bold">Simulated agents</p>
        <p>
            Mock adds a set of simulated agents to CALDERA and allows you to run complete operations without hooking any
            other computers up to your server. All simulated agents will appear as normal agents in the UI and can be
            used in any operation.
        </p>
    </div>
    <hr>
    <div id="mock-content" class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
        <p class="block">This plugin creates a simulated connection for CALDERA.</p>

        <a class="button is-primary is-small" href="docs/Plugin-library.html#mock" target="_blank">
            <span>Read more here</span>
            <span class="icon"><em class="fas fa-angle-right"></em></span>
        </a>
    </div>
</div>

<script>
    function alpineMock() {
        return {};
    }
</script>

<style>
</style>
