<html>
    <head>
        <title>Mock | simulation environment</title>
        <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
        <link rel="stylesheet" href="/gui/css/shared.css">
        <link rel="stylesheet" href="/gui/css/navbar.css">
        <link rel="stylesheet" href="/gui/css/basic.css">
        <link rel="stylesheet" href="/sandcat/css/basic.css">
        <link rel="stylesheet" href="/gui/css/modal.css">
        <link rel="stylesheet" href="/mock/css/basic.css">
    </head>
    <body>
    <center style="margin-bottom: 100px">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/logout" style="float:right">Logout</a>
    </div>

    <div class="row-canvas">

        <div class="section-profile">
            <div class="row">
                <div class="column" style="flex:35%;">
                    <img style="filter:invert(var(--invert-percentage));height:200px" src="/mock/img/simulate.jpg">
                </div>
                <div class="column" style="flex:65%;text-align:left">
                    <h1 style="margin-top:-20px;;">Mock</h1>
                    <h2 style="margin-top:-85px">an environment to simulate operations</h2>
                    <p style="width: 75%;font-size:14px;">
                        Simulation scenarios provide mock ability responses - per agent - during a running
                        operation. Use scenarios to test planners, as well as see how an attacker may make decisions
                        if they face specific defensive measures. Apply a scenario and run a batch of operations below.
                    </p>
                    <select id="scenarios" style="width: 20%">
                      <option value="" disabled selected>Select a scenario</option>
                      {% for s in scenarios %}
                          {%  if s == loaded_scenario %}
                                <option value={{ s }} >{{ s }} (loaded)</option>
                          {%  else %}
                                <option value={{ s }} >{{ s }}</option>
                          {%  endif %}
                      {% endfor %}
                    </select>
                    <br>
                    <button type="button" class="button-success" style="width:20%" onclick="applyScenario()">Apply</button>
                    <div id="mock-confirm">
                      <span id="message"></span>
                  </div>
                </div>
            </div>
        </div>

        <div id="mock-run" class="section-profile">
            <div class="row">
                <div id="mock-sidebar" class="column section-border" style="flex:25%">
                  <img src="/mock/img/trial.png">
                  <h4>Batches</h4>
                  <br>
                  <div class="toggle">
                    <label class="switch"><input type="checkbox" id="togBtnOp" onchange="toggleBatchView()">
                      <div class="slider round"><span class="on">ADD</span><span class="off">VIEW</span></div>
                    </label>
                  </div>
                  <p class="section-description">
                      A batch is a set of n-number of operations. Run a batch to test out different planners and
                      understand how they compare against each other.
                  </p>
                  <div id="viewBatch">
                    <select id="batch-list" style="margin-bottom: 15px;" onchange="refresh()">
                      <option id="batchDefault" value="" disabled selected>Select a batch</option>
                      {% for b in batches %}
                            <option id="{{ b.name }}" value="{{ b.name }}">{{ b.name }} - {{ b.start }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <br>
                  <div id="addBatch" style="display: none">
                      <input id="queueName" placeholder="Batch name"/>
                      <input id="queueNumber" placeholder="Number of operations to run"/>
                      <select name="work" id="queueFlow">
                        <option value="" disabled selected>Please select an adversary</option>
                        {% for adv in adversaries %}
                          <option id="qflow-{{ adv.adversary_id }}" value="{{ adv.adversary_id }}">{{ adv.name }}</option>
                        {% endfor %}
                      </select>
                      <select name="planner" id="queuePlanner">
                        {% for p in planners %}
                            <option value="{{ p.name }}">Use {{ p.name }} planner</option>
                        {% endfor %}
                      </select>
                      <select name="source" id="queueSource">
                        {% for s in sources %}
                            <option value="{{ s.name }}">Use {{ s.name }} facts</option>
                        {% endfor %}
                      </select>
                      <select name="phases" id="queuePhasesEnabled">
                        <option value="1" selected>Enable Phases</option>
                        <option value="0">Disable Phases</option>
                      </select>
                      <input name="jitter" id="queueJitter" placeholder="Jitter (min/max) sec"/>
                      <button id="opBtn" type="button"
                          class="button-success atomic-button" onclick="handleStart()">Start
                      </button>
                  </div>
                </div>
                <div class="column" style="flex:75%">
                  <div class="batch-details">
                    <center>
                        <div>
                            <h2 id="batch-name"></h2>
                            <h4 id="batch-number"></h4>
                            <br>
                            <ul id="batch-charts" class="batch-charts"></ul>
                        </div>
                    </center>
                  </div>
                </div>
            </div>
        </div>

    </div>
    </center>
    </body>
    <script src="/mock/js/mock.js"></script>
    <script src="/gui/js/shared.js"></script>
    <script src="/gui/jquery/jquery.js"></script>
    <script>
        function handleStart() {
            function handleStartAction(data){
                $("#togBtnOp").prop("checked", false).change();
                let op_elem = $("#batch-list");
                if(!op_elem.find('option[value="'+data.name+'"]').length > 0){
                    op_elem.append('<option id="' + data.name + '"' + 'value="' + data.name +'" >' + data.name + ' - ' + data.start + '</option>');
                }
                op_elem.prop('selectedIndex', op_elem.find('option').length-1).change();
                refresh();
            }
            let batch = buildOperationObject();
            restRequest('POST', batch, handleStartAction, '/plugin/mock/batch');
        }

        function buildOperationObject() {
            let name = document.getElementById("queueName").value;
            if(!name){ alert('Please enter an operation name'); return; }

            let jitter = document.getElementById("queueJitter").value || "4/8";
            try {
                let [jitterMin, jitterMax] = jitter.split("/");
                jitterMin = parseInt(jitterMin);
                jitterMax = parseInt(jitterMax);
                if(!jitterMin || !jitterMax){
                    throw true;
                }
                if(jitterMin >= jitterMax){
                    alert('Jitter MIN must be less than the jitter MAX.');
                    return;
                }
            } catch (e) {
                alert('Jitter must be of the form "min/max" (e.x. 4/8)');
                return;
            }
            return {
                "name":name,
                "number":document.getElementById("queueNumber").value,
                "adversary_id":document.getElementById("queueFlow").value,
                "planner":document.getElementById("queuePlanner").value,
                "phases_enabled":document.getElementById("queuePhasesEnabled").value,
                "jitter":jitter,
                "source":document.getElementById("queueSource").value
            };
        }

        function toggleBatchView(){
            $('#viewBatch').toggle();
            $('#addBatch').toggle();
            if ($('#togBtnOp').is(':checked')) {
                showHide('.queueOption', '#batch-list');
            } else {
                showHide('#batch-list', '.queueOption');
            }
        }

        let refreshInterval = null;

        function refresh() {
            function batchCallback(data){
                let batch = data[0];
                let finished = 0;
                $.each(batch.operations, function(index, op) {
                    if(op.finish) {
                        finished += 1;
                    }
                });
                $('#batch-charts').empty();
                $('#batch-name').html(batch.name);
                $('#batch-number').html(finished + ' of ' + batch.operations.length + ' operations completed');
                $.each(batch.charts, function(index, chart) {
                    $('#batch-charts').append('<li>'+chart+'</li>');
                });
                if(finished === batch.operations.length) {
                    clearInterval(refreshInterval);
                    refreshInterval = null;
                } else {
                    if(!refreshInterval) {
                        refreshInterval = setInterval(refresh, 10000);
                    }
                }
            }
            let selected = $('#batch-list option:selected').attr('value');
            let postData = selected ? {'index':'batches','name': selected} : null;
            restRequest('POST', postData, batchCallback, '/plugin/chain/full');
        }
    </script>
</html>